body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.section {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #e9ecef;
    border-radius: 5px;
}

h1 {
    font-size: 24px;
    color: #333;
    text-align: center; /* Центрирование заголовка */
}

table {
    width: 100%;
    border-collapse: collapse; /* Убирает двойные границы */
}

th, td {
    padding: 12px; /* Увеличение отступов */
    text-align: left; /* Выравнивание текста */
    border-bottom: 1px solid #ddd; /* Нижняя граница ячеек */
}

th {
    background-color: rgb(73, 103, 141); /* Цвет фона заголовка (темно-серый) */
    color: white; /* Цвет текста заголовка */
}

tr:hover {
    background-color: #f1f1f1; /* Цвет строки при наведении */
}

a {
    color: #007bff; /* Цвет ссылок */
    text-decoration: none; /* Убираем подчеркивание */
}

a:hover {
    text-decoration: underline; /* Подчеркивание при наведении */
}

.button-container {
    margin-top: 20px;
}

.button {
    padding: 10px 15px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgb(73, 103, 141);
    color: white;
    cursor: pointer;
    text-decoration: none;
}

.button:hover {
    background-color: #0056b3; /* Цвет кнопки при наведении */
}

input[type="text"] {
    width: 100%; /* Поле будет занимать всю ширину родительского элемента */
    box-sizing: border-box; /* Учитывает отступы и границы в общей ширине */
    padding: 10px; /* Добавить внутренний отступ для удобства */
    border: 1px solid #ccc; /* Граница поля ввода */
    border-radius: 4px; /* Скругление углов */
}

/* Список с маркерами */
.with-bullets {
    list-style-type: disc; /* Оставляем стандартные маркеры */
    padding-left: 20px; /* Отступ слева для маркеров */
}

/* Список без маркеров */
.without-bullets {
    list-style-type: none; /* Убираем маркеры */
    padding: 0; /* Убираем отступы */
    margin: 0; /* Убираем внешние отступы */
}